@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*-- scss:defaults --*/

$h1-font-size:   2.1rem !default;
$h2-font-size:   1.8rem !default;
$h3-font-size:   1.3rem !default;

$theme-colors: (
  "primary": #3C4D61,
  "link":    #1E3A5F,
  "lang-grey": #C5CCD5   // extra colour for the language button
);

// set default primary color
$primary: map-get($theme-colors, "primary") !default;

$navbar-bg: #3C4D61;

$body-bg: #F4F6F7;
$body-color: #2C3E50;
$link-color:  map-get($theme-colors, "link") !default;

$font-family-base:     'Open Sans', sans-serif !default;
$headings-font-family: 'Playfair Display', serif !default;
$headings-font-weight: 600 !default;

$callout-color-note: map-get($theme-colors, "primary") !default;

/*-- scss:rules --*/

.navbar-brand {
  font-family: $headings-font-family;  
  font-weight: 600
}

/* Thicker underline on hover */
a { text-decoration-thickness: .8px;
  &:hover { text-decoration-thickness: 2px; }
    font-weight: inherit;
}

/* Caret spacing for the language-switch button */
.dropdown-toggle::after { margin-left: .3rem; }

.team-name {
  margin-bottom: 8px;
  margin-top: 10px;
}

.team-headshot {
  padding-inline-start: 20px;
  padding-block-end: 20px;
  margin-block-start: 4px;
}

.sidebar nav .sidebar-item-container{           /* wrapper */
  padding-block: .35rem;  
}
.sidebar nav .sidebar-link{                    /* the link */
  line-height: 1.4rem;   
}

.sidebar nav[role="doc-toc"] li > a{
  padding-block: .25rem;
}

.reactable .rt-thead.-header {
  background-color: transparent !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  background-color: #C5CCD5 !important; 
}