/*-- scss:defaults --*/

$h1-font-size:   2.1rem !default;
$h2-font-size:   1.8rem !default;
$h3-font-size:   1.3rem !default;

$body-bg: #F4F6F7;
$footer-bg: #F4F6F7;
$body-color: #2C3E50;
$link-color: #1E3A5F;
$primary:#3C4D61 !default;


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

$font-family-serif: 'Playfair Display', serif;
$font-family-sans-serif: 'Open Sans', sans-serif;

$navbar-bg: #3C4D61;

$callout-color-note: #3C4D61;

/*-- scss:rules --*/

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family-serif;
}

.navbar-title {
  font-family: $font-family-serif;
  font-weight: 600
}

a {
  text-decoration: underline;
  text-decoration-thickness: 0.8px; // Adjust thickness to make it lighter
  text-underline-offset: 3px; // Moves the underline slightly below the text for a cleaner look

  &:hover {
    text-decoration-thickness: 2px;
  }
}
