/* css styles */

.team-name {
  margin-bottom: 8px;
  margin-top: 10px;
}
.team-headshot {
  padding-left: 20px;
  padding-bottom:20px;
  margin-top: 4px;
}



/* Style the Eng button */
#navbarCollapse .dropdown#languages-links-parent > button {
  color: #C5CCD5; /* Replace with your desired text color */
}

/* Style the globe icon inside the button */
#navbarCollapse .dropdown#languages-links-parent > button i {
  color: #C5CCD5; /* Replace with your desired icon color */
  margin-right: 0.15rem;
}

#navbarCollapse .dropdown#languages-links-parent > button::after {
  margin-left: 0.3rem; /* match icon spacing */
}
